<!doctype html>
<html lang="en">
  <!-- if your site isn't in English, change lang="en" above accordingly. -->

  <head>
    <title>Mycelium</title>
    <meta charset="utf-8">
    <!-- this, basically, tells the browser that you have a responsive website. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, :after, :before { box-sizing: inherit; }

body {
  font-size: 1.125rem;
  color: #000;
  background: #fafafa;
  line-height: 1.5;
}

section {
  display: inline-block;
  width: 40em;
}

a { color: #1663bb; }
a:hover, a:focus { color: #0f437e; }
    </style>
  </head>
  <body>
    {% for hostname, checks in results.items() %}
    <section>
      <h2>{{hostname}}</h2>
      <ul>
        {% for item in checks %}
        <li>{{item}}</li>
        {% endfor %}
      </ul>
    </section>
    {% endfor %}
  </body>
</html>
